@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 240px;
}

body {
  @apply bg-gray-950 text-gray-100;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-gray-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
